.button {
    margin-left: 25%;
    margin-top: 10%;
  }
  
  .delete {
    margin-left: 1rem;
  }
  
  .create {
    margin-left: 750%;
  }
  
  .table {
    width: 100%;
    margin-left: 0%;
    margin-top: 0%;
  }
/* ------------------------------------------------------------------------- */
  .pagination {
    display: flex;
    justify-content: center;
    margin-top: 12px;
  }
  
  .pagination-button {
    margin: 0 5px;
    border: none;
    background-color: black;
    color: white;
    cursor: pointer;
  }
  
  .pagination-button.active {
    font-weight: bold;
  }
  